# Best Cat - Octocat


<img src="https://alexandruturcanu.com/images/faces/octocat.png" width=200px>
<!-- [Cat](https://alexandruturcanu.com/images/faces/octocat.png) -->

### Docs

A _simple_ function to add to numbers

In [61]:
def sum(a: int, b: int):
    return a + b

In [62]:
sum(5, 7)

12

In [64]:
import pandas as pd
df = pd.read_csv("titanic.csv")

In [65]:
ls_age = df['Age'].dropna()
print(f"Average Age: {ls_age.mean()}")

Average Age: ls_age.mean()

In [67]:
ls_sex = df['Sex']
female_count = 0
for passenger in ls_sex:
    if passenger == 'female':
        female_count += 1

female_percentage = female_count / len(ls_sex)
print(f"Female Percentage: {female_percentage}")

Female Percentage: 0.35241301907968575

In [71]:
df['Sex'].value_counts(normalize=True) * 100

male      64.758698
female    35.241302
Name: Sex, dtype: float64