In [2]:
import pandas as pd
import numpy as np

In [3]:
print("Hello again!")

Hello again!

In [4]:
salaries = pd.Series([70, 90, 90, 80, 130, 500, 60])
salaries.describe().std()

151.93118850322801

In [5]:
salaries.mode()

0    90
dtype: int64

In [6]:
random_numbers = pd.Series([-5, -4, -1, 2, 4, 6, 6, 7, 0])

print('Random Numbers\n')
print(f'Mean: {random_numbers.mean()}')
print(f'Median: {random_numbers.median()}')
print(f'Mode: {random_numbers.mode()}')

Random Numbers

Mean: 1.6666666666666667
Median: 2.0
Mode: 0    6
dtype: int64

In [7]:
titanic = pd.read_csv('titanic.csv')

In [8]:
ages = titanic["Age"]
print('Age')
print(f'Mean: {ages.mean()}')
print(f'Median: {ages.median()}')
print(f'Mode: {ages.mode()}')

Age
Mean: 29.69911764705882
Median: 28.0
Mode: 0    24.0
dtype: float64

In [9]:
print(f'Oldest Passenger: {ages.max()}')

Oldest Passenger: 80.0

In [10]:
print(f'Cheapest Ticket: {titanic["Fare"].min()}')

Cheapest Ticket: 0.0

In [11]:
print(f'Range of Ticket Price: {titanic["Fare"].max() - titanic["Fare"].min()}')

Range of Ticket Price: 512.3292

In [12]:
titanic.mode()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
1,2,NaN,NaN,"Abbott, Mr. Rossmore Edward",NaN,NaN,NaN,NaN,347082,NaN,C23 C25 C27,NaN
2,3,NaN,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,NaN,NaN,NaN,CA. 2343,NaN,G6,NaN
3,4,NaN,NaN,"Abelson, Mr. Samuel",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,NaN,NaN,"de Mulder, Mr. Theodore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,888,NaN,NaN,"de Pelsmaeker, Mr. Alfons",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,889,NaN,NaN,"del Carlo, Mr. Sebastiano",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,890,NaN,NaN,"van Billiard, Mr. Austin Blyler",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,891,NaN,NaN,"van Melkebeke, Mr. Philemon",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
np.mean([15, 18, 16, 19])


# pd.Series([20, 14, 12, 14, 26, 16, 18, 19, 14]).mode()

17.0

In [14]:
data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

def compute_median(dataset):
    """ Returns the median of the dataset. """
    dataset.sort()
    length = len(dataset)
    middle = int(length / 2)

    if length % 2 == 0:
        return (dataset[middle - 1] + dataset[middle]) / 2
    return dataset[middle]

print(f"Custom Median: {compute_median(data)}")
print(f"Numpy Median: {np.median(data)}")

Custom Median: 4
Numpy Median: 4.0

In [25]:
data = pd.Series([1, 2, 2, 5, 5])

def compute_mode(dataset):
    """Returns the mode of the dataset."""
    
    frequency = {}
    for value in dataset:
        if frequency.get(value) is None:
            frequency[value] = 1
        else:
            frequency[value] += 1

    mode = []
    highestest_frequency = -1
    for key in frequency:
        if frequency[key] > highestest_frequency:
            highestest_frequency = frequency[key]
            mode = [key]

    return mode

print(f"Custom Mode: {compute_mode(data)}")
print(f"Pandas Mode: {data.mode()}")

Custom Mode: 2
Pandas Mode: 0    2
1    5
dtype: int64